.sidebar {
  padding-right: 4px;
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  background-color: black;
}

.menu-container {
  width: 64px;
  padding: 0 12px 0 12px;
}

.menu-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  fill: #ffff;
}

.twitter-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.twitter-logo-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 26px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.twitter-logo-svg:hover {
  background-color: rgba(0, 0, 255, 0.1);
}

.sidebar-menu-logo,
.sidebar-menu-home-logo,
.sidebar-menu-bell-logo {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  padding: 12px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.sidebar-menu-logo:hover,
.sidebar-menu-home-logo:hover,
.sidebar-menu-bell-logo:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu-home-logo {
  position: relative;
}

.notification-alert {
  position: absolute;
  top: 8px;
  right: 12px;
  height: 7px;
  width: 7px;
  border-radius: 5px;
  background-color: rgb(29, 155, 240);
}

.sidebar-menu-bell-logo {
  position: relative;
}

.notification-counter {
  position: absolute;
  top: 7px;
  right: 7px;
  color: white;
  font-family: Arial;
  font-size: 12px;
  background-color: rgb(29, 155, 240);
  padding: 2px 5px 2px 5px;
  border-radius: 15px;
}

.tweet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tweet-button-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(29, 155, 240);
  border-radius: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.tweet-button:hover {
  background-color: rgba(29, 156, 240, 0.807);
}

.sidebar-profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;

}

.twitter-logo svg {
  width: 25px;
  height: 25px;
}

.sidebar-profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}

.sidebar-profile-picture-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


